{% extends "main/base.html" %}
{% load static %}

{% block main2 %}
        <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
        <!-- BEGIN: HEADER -->
        <!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
        <!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
        <div class="c-layout-page">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-3 -->
            <section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
                <div class="tp-banner-container c-theme">
                    <div class="tp-banner rev_slider" data-version="5.0">
                        <ul>
                            <!--BEGIN: SLIDE #1 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="" src="{%static 'assets/img/slide0.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                    data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                                    <h2 class="service-title">   ترجمه تخصصی متون</h2>
                                    <p class="service-desc">
                                    
                                    مقاله،کتاب،متون تخصصی و محرمانه
                                    </p>
                                        
                                    
                                
                                </div>
                                <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                    data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">
                                    <a href="{% url 'translate:trans'%}" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">اطلاعات بیشتر</a>
                                </div>
                            </li>
                            <!--END -->
                            <!--BEGIN: SLIDE #2 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="" src="{%static 'assets/img/slide1.jpg'%}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                    data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                                    <h2 class="service-title">  خدمات ترجمه دانشگاهی</h2>
                                    <p class="service-desc">
                                    
                                ...ترجمه پروژه‌های دانشجویی،مقالات،پایان نامه ها و 
                                    </p>
                                </div>
                                <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                                    data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">
                                    <a href="{% url 'translate:uni'%}" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">اطلاعات بیشتر</a>
                                </div>
                            </li>
                            <!--END -->
                            <!--BEGIN: SLIDE #3 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="" src="{%static 'assets/img/slide2.jpg'%}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                                    data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                                    <h2 class="service-title">   ویراستاری تخصصی </h2>
                                    <p class="service-desc">
                                    
                                        ویراستاری زبان‌های فارسی،انگلیسی و سایر زبان‌ها به صورت تخصصی 
                                    </p>
                                </div>
                                <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                                    data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">
                                    <a href="{% url 'translate:edit'%}" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">اطلاعات بیشتر</a>
                                </div>
                            </li>
                        
                            <!--END -->
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
        
            <!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
            <div class="c-content-box c-size-lg c-bg-grey-1">
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="c-content-feature-5">
                                    <div class="c-content-title-1 wow amimate fadeInDown">
                                        <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">
                                            چرا
                                            <br />تریجام ؟
                                        </h3>
                                        <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                                    </div>
                                    <div class="c-text wow animate fadeInLeft">تیم تخصصی ترجمۀ مقاله در  تریجام  همان راه نجاتی است که می‌تواند با تضمین کیفیت ترجمه و با ارائه متن با کیفیت و ترجمه مناسب، شانس شما را در پذیرش مقاله توسط نشریات تخصصی افزایش دهد و شما را در انجام پروژه‌های دانشجویی همراهی کند. </div>
                                    <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn">مشاهده</button>
                                    <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt="" src="{%static 'assets/img/img why.jpg'%}" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                                    <div class="panel-group" id="accordion" role="tablist">
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">  ترجمه کاربردی چه مقدار اهمیت دارد ؟  </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body c-font-18">مقاله‌ای که برای نشریات علمی یا کنفرانس‌های بین‌المللی ارسال می‌کنید، به منزلۀ درخواست پذیرش شما از دانشگاه‌های معتبر مورد استناد قرار می‌گیرد و در بخشی از رزومه پژوهشی شما اثرگذار خواهد بود. بنابراین ارائه ترجمه صحیح، دقیق و باکیفیت در قبول شدن شما تأثیرگذار خواهد بود. رد شدن مقاله به دلیل کیفیت نامناسب می‌تواند عواقب زیادی برای شما داشته باشد و حتی سرنوشت تحصیلی یا حرفه‌ای شمارا کاملاً تحت تأثیر قرار دهد. </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">  ترجمه مقاله به چه زبان هایی انجام میشود؟  </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body c-font-18"> 
                                                    ترجمه انواع مقالات تخصصی به تمام زبان‌های زنده دنیا اعم از انگلیسی، فرانسه، آلمانی، اسپانیایی، عربی، ترکی استانبولی و ...انجام می‌شود.
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">  قیمت ترجمه مقاله تخصصی چگونه محاسبه می‌شود؟   </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body c-font-18">قیم

                                                    ت ترجمه با توجه به نوع تخصصی و غیرتخصصی بودن موضوع مقاله متفاوت است. اما در حالت کلی نرخ ترجمه مقالات با توجه به تعداد کلمات و موضوع تخصصی آن با هم متفاوت است.
                                                    
                                                    نرخ ترجمه مقالۀ تخصصی به سایر زبان‌های دنیا با توجه به نوع مقاله ارائه‌شده به مترجم متفاوت است. شما می‌توانید برای اطلاع یافتن از قیمت دقیق ترجمه مقاله به انگلیسی و سایر زبان‌های موردنظر خود، با کارشناسان سایت ترجمه تخصصی شبکه  تریجام تماس بگیرید. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->
        

    
{% endblock %}
   

