{% extends "main/base.html" %}
{% load static %}

{%block main2%}    
      
                    <!-- Begin: Title 1 component -->
                    <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr>  <hr >
                

                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold">   ترجمه مقاله راهی اصولی برای جهانی شدن دانش شما</h3>
                        <div class="c-line-center c-theme-bg"></div>
                        <p class="c-font-center">
                            دانشجوی توانمندی را تجسم کنید که توانسته است به مباحثی جدید و جذاب در فضای تخصصی خود مسلط شده باشد و یا آنکه یک موضوع علمی را به اثبات نظری و حتی عملی رسانده باشد. و یا محققی را در نظر بگیرید که پس از ماه ‌ها و شاید سال ‌ها تلاش علمی نتایج جدیدی در یک حوزه ی تخصصی به دست آورده است. مهندسی که به یک الگوی جدید در یک مبحث فنی و مهندسی رسیده است و شاید پزشکی که شیوه ی مدرن و بهتری در مسیر درمان یک بیماری کشف کرده است.

                            اصولا چرا در فضای اکتشاف و اختراع پرسه بزنیم؟! یک جامعه شناس یا روان شناس و حتی یک محقق مذهبی را در نظر بگیرید که در پی مطالعات وسیع و تفکرات عمیق خود سعی در ارائه ی یک مکتب و یا تفکری نوین دارد. تمام این افراد باید بتوانند به شکل صحیح و کاملاً علمی دست آوردهای خود را در نگاهی همگانی بگذارند. تمام این افراد برای نمایش دست آوردهای خود به مقاله نویسی احتیاج دارند؛ اما اگر بخواهند فراتر از کشوری که هستند و یا در مجامع بین ‌المللی دست آوردهای خود را جهانی کنند، باید بتوانند صحبت علمی خود را در یک زبان بین ‌المللی ارائه کنند. پس آنها برای جهانی شدن اندیشه های خود نیاز به ترجمه مقاله دارند.
                            
                            ترجمه مقاله
                        </p>
                            <hr>
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-center c-font-bold">  مقاله چیست و چه جایگاه علمی دارد؟</h3>
                                <div class="c-line-center c-theme-bg"></div>
                                <p class="c-font-center">
                                    متنی را که می توان در آن دست آوردهای علمی را به شکل خلاصه، مفید، کامل و استاندارد ارائه نمود، مقاله می ‌گویند. مقاله دارای اصولی است که با رعایت کردن آن ها، فهم متون برای محققان آسان تر خواهد شد. از این رو از مقاله نویسی به عنوان مهمترین جریان در ارائه ی موضوعات جدید علمی یاد می شود. دانشمندان، محققان، دانشجویان و... با استفاده از مقاله نویسی می ‌توانند دست آوردهای جدید خود را در سطح جهانی به اشتراک بگذارند. این اشتراک گذاری معیاری جامع به جهت تشخیص سطح علمی و توانمندی های صاحب مقاله است.

                                    ترجمه مقاله حرفه ای
                                     
                                    جایگاه علمی:
                                    
                                    هر چه اعتبار فضای منتشر شده ی مقاله بالاتر باشد، قاطع تر می تواند جایگاه علمی صاحب خود را نشان بدهد. ارائه ی این نوع مقاله در انواع مجلات علمی، یک فضای کاملا رقابتی است (فضایی برای رقابت دانشجویان و اساتید بزرگ در جای جای جهان). هر نویسنده ی مقاله همواره سعی خواهد نمود مقاله های خود را در مجلات معتبرتری به چاپ برساند، هر چه مجله علمی جهانی تر باشد اعتبار بیشتری به دنبال خواهد داشت.
                                    
                                    انتشار در مجله ی جهانی، زبان جهانی می خواهد و این زبان همان زبان انگلیسی است؛ اما هر چند زبان انگلیسی برای شما آشنایی دارد، در مقام نگارش متون علمی بسیار پیچیده و دشوار خواهد شد. تا جائیکه مقاله نویسی با نگرش جهانی خارج از توان بسیاری خواهد شد. یک محقق هوشمند هرگز استعداد های جهانی شدن جایگاه علمی خود را فدای یک مقاله ی ضعیف از لحاظ متن و قواعد نوشتاری نخواهد کرد. ترجمه مقاله راهی است که می تواند به راحتی هر مقاله ای را در عرصه های جهانی وارد نماید.                  
       </p>  <hr>
                            </div>
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-center c-font-bold"> اهمیت ترجمه مقالات</h3>
                                <div class="c-line-center c-theme-bg"></div>
                                <p class="c-font-center">
       
                                    همان طور که ذکر کردیم، چاپ یک مقاله در یک مجله ی معتبر می تواند اعتبار علمی بالایی برای محقق داشته باشد. هر چه جایگاه و اعتبار علمی مجله بالاتر باشد، طبعا می تواند در اثبات توانمندی ‌های علمی محقق بیشتر خودش را نشان بدهد. به این جهت است که تقریباً تمام محققان علاقه دارند تا مقالات خود را در سطح جهانی همراه با مجلات معتبر بین المللی به چاپ برسانند.

                                    اهمیت ترجمه در این فاز از انتشار دست آورد های علمی، خودش را نشان می دهد. درست در زمانیکه بعد از ماه ‌ها و شاید سال‌ ها تلاش علمی می خواهید دست آوردهای خود را در قالب یک مقاله ی توانمند، جهانی سازید. وقتی صحبت از جهانی شدن مقاله می ‌شود، باید به سراغ زبان های بین المللی برویم و محبوب ترین آنها زبان انگلیسی خواهد بود.                    </p>  <hr>
                            </div>
                    </div>
                    <!-- End-->
                  
        </div><!-- END: CONTENT/MISC/SERVICES-1 -->
        <!-- BEGIN: CONTENT/FEATURES/FEATURES-16-2 -->
        <div id="feature-16-2" class="c-content-feature-16 c-bg-img-center" style="background-image: url(../../assets/base/img/content/shop4/104.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="c-feature-16-container c-bg-dark c-bg-opacity-4">
                            <div class="c-feature-16-line c-theme-bg"></div>
                            <h2 class="c-feature-16-title c-font-bold c-font-uppercase c-font-white">نحوه سفارش ترجمه مقاله:</h2>
                            <p class="c-feature-16-desc c-font-grey">
                                
                                جهت ثبت سفارش ترجمه مقاله از بخش سفارش ترجمه اقدام فرمائید. بدین منظور ابتدا در سایت عضو شوید و پس از آن در بخش ثبت سفارش فایل مد نظر خود را آپلود کرده و پس از پرداخت منتظر دریافت فایل ترجمه شده خود در پنل کاربری باشید.
                            </p>
                            
                            <a class="c-feature-15-btn btn c-btn btn-lg c-theme-btn c-font-uppercase c-font-bold c-btn-square" href="سفارش ترجمه مقاله.html" alt="Purchase JANGO">ثبت سفارش</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/FEATURES/FEATURES-16-2 -->
 
     
    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
   {%endblock%}