{% extends "main/base.html" %}
{% load static %}

{% block main2 %}    
      
                    <!-- Begin: Title 1 component -->
                    <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr>  <hr >
                

                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold"> ترجمه تخصصی انگلیسی</h3>
                        <div class="c-line-center c-theme-bg"></div>
                        <p class="c-font-center">

                            زبان انگلیسی جزو زبان‌های بسیار رایج در کشور ما و جهان است. بسیاری از کتب و مجلات علمی در جهان به زبان انگلیسی نگاشته می‌شوند به همین دلیل دانشجویان و اساتید و محققان با این زبان بیشتر آشنا بوده و سعی می‌کنند از متون انگلیسی هم برای اطلاع از مسائل روز علمی و هم برای انتقال تحقیقات خود به جهان استفاده کنند.
                            ترجمه تخصصی انگلیسی
                            
                            این قشر با وجود آشنایی با زبان انگلیسی، برای ترجمه کتاب‌ها و مقالات دریافتی خود به مترجم انگلیسی به فارسی و برای چاپ پژوهش‌ها و مقالات‌شان در مجلات خارجی به مترجم فارسی به انگلیسی نیاز دارند. باید توجه داشت که تنها تسلط به زبان انگلیسی نیاز یک مترجم حرفه‌ای را رفع نمی‌کند، اگر چنین بود که ترجمه تمام کتاب‌ها و مقالات علمی را به تحصیل کرده‌های رشته زبان انگلیسی می‌سپردند.
                            
                            پس علاوه بر تسلط به زبان انگلیسی، یک مترجم باید تخصص لازم در آن زمینه و حیطه را داشته باشد تا بتواند کلیه واژگان و اصطلاحات مرتبط را به درستی درک و ترجمه کند. در این صورت مخاطب متنی ساده، روان و قابل فهم را پیش روی خود می‌بیند و مطالب آن متن را به درستی درک می‌کند.
                            </p>
                            <hr>
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-center c-font-bold"> ترجمه تخصصی فارسی به انگلیسی</h3>
                                <div class="c-line-center c-theme-bg"></div>
                                <p class="c-font-center">

                                    صرف اینکه مترجمی به ترجمه‌ی انگلیسی به فارسی مسلط باشد، تخصص او در ترجمه فارسی به انگلیسی را تضمین نمی‌کند. در واقع مترجمی که در این زمینه مسلط باشد دارای شرایط متفاوتی است. گذشته از این حتی مترجمی که تخصص کافی در این نوع از ترجمه را دارد، دارا بودن تجربه و علم کافی در زمینه‌‌ی ترجمه‌ی مقالات ISI تخصص جدایی را برای سپردن ترجمه فارسی به انگلیسی مقالات ISI به او می‌طلبد.
                                    مجلاتISI
                                    
                                    با توجه به این مهم، بسیاری از اساتید و دانشجویان علی رغم اینکه به ترجمه تخصصی متون مسلط می‌باشند، ترجمه مقاله خود برای چاپ در ژورنال برون سپاری می‌کنند.
                                    
                                    سایت ترجمه تخصصی ترجمیک با به کارگیری مترجمینی که تجربه کافی در زمینه تهیه مقالات ISI و تسلط کافی در ترجمه تخصصی فارسی به انگلیسی مقاله ISI دارند، آماده ارائه خدمات به شما عزیزان است.
                                    
                                    با توجه به اینکه کیفیت متون ترجمه شده دائما توسط تیم ارزیاب مورد ارزیابی قرار می‌گیرد، کیفیت ترجمه تضمین شده خواهد بود. اما برای اطمینان خاطر مشتریان، خدمات پشتیبانی و ضمانت ویرایش، بازنگری و جرح و تعدیل‌های لازم تا زمان اعلام نظر داوران مراجع علمی برقرار خواهد بود. (ترجمه مقالات ISI تا زمان اعلام نظر داوران مجلات تخصصی شامل گارانتی خواهد بود).
                                    
       </p>  <hr>
                            </div>
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-center c-font-bold"> ترجمه تخصصی انگلیسی به فارسی</h3>
                                <div class="c-line-center c-theme-bg"></div>
                                <p class="c-font-center">
       

اهمیت زبان انگلیسی در مراکز دانشگاهی و علمی بر کسی پوشیده نیست. انتشار آثار علمی به این زبان، نیاز به ترجمه تخصصی انگلیسی را روز به روز بیشتر می‌کند. فرایند ترجمه تخصصی از انگلیسی به فارسی نیاز به تخصص کافی در ترجمه و هم‌چنین زمینه‌ی علمی متون دارد. ترجمه تخصصی، از دو منظر حساسیت ویژه دارد: نخست آن که کلمات به کار رفته در متون علمی معنای خاصی غیر از معنای رایج آن دارد و در درجه دوم این که متون علمی در هر زمینه، استاندارد و قواعد خاصی دارند و تنها مترجمی که در همان رشته تخصص داشته باشد قادر به انجام آن خواهد بود.
ترجمه تخصصی انگلیسی به فارسی

ترجمیک، بر اساس تجربه طولانی در امر ترجمه، به ویژه ترجمه متون تخصصی، دو پلن ویژه برای این دسته از سفارش‌های ترجمه طراحی کرده است. برای سفارش ترجمه تخصصی، شما می‌توانید سفارش خود را در پلن‌های نقره‌ای یا طلایی ثبت نمایید و به این ترتیب مطمئن خواهید بود که مترجمی که سابقه دانشگاهی و تجربی زیادی در همان زمینه علمی دارد، ترجمه متن شما را بر عهده خواهد گرفت.

با استفاده از خدمات ترجمه تخصصی، دیگر ترجمه فارسی به انگلیسی و یا انگلیسی به فارسی یک کابوس ترسناک نخواهد بود. حتی اگر می‌خواهید برای تقویت رزومه یا آشنایی با یک موضوع جدید، ترجمه کتاب انجام دهید، همچنان می‌توانید از پلن‌های تخصصی ترجمه در ترجمیک استفاده کنید.
                                </p>  <hr>
                            </div>
                    </div>
                    <!-- End-->
                  
        </div><!-- END: CONTENT/MISC/SERVICES-1 -->
        <!-- BEGIN: CONTENT/FEATURES/FEATURES-16-2 -->
        <div id="feature-16-2" class="c-content-feature-16 c-bg-img-center" style="background-image: url(../../assets/base/img/content/shop4/104.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="c-feature-16-container c-bg-dark c-bg-opacity-4">
                            <div class="c-feature-16-line c-theme-bg"></div>
                            <h2 class="c-feature-16-title c-font-bold c-font-uppercase c-font-white">ترجمه تخصصی با گارانتی و ضمانت اجرایی</h2>
                            <p class="c-feature-16-desc c-font-grey">
                                

ترجمه متون در ترجمیک پیوسته در طی فرآیند داوری و پایش سفارش‌ها که متشکل از افرادی با تجربه و با سابقه در زمینه ترجمه هستند مورد بررسی قرار می‌گیرد.

در طی این پروسه هیچ مشکل و خطایی در متن شما از چشم ارزیابان حرفه‌ای ترجمیک پنهان نمی‌ماند و حتی اگر شما نیز متوجه وجود اشتباه در متنتان نشوید، تیم ارزیاب ترجمیک شما را آگاه می‌کند.

همچنین پس از استفاده متن خود مانند ارسال مقاله‌تان به ژورنال کار شما تا زمان اکسپت مقاله شامل گارانتی بوده و ترجمیک موظف است به صورت رایگان مقاله شما را ویرایش نماید.

                            </p>
                            
                            <a class="c-feature-15-btn btn c-btn btn-lg c-theme-btn c-font-uppercase c-font-bold c-btn-square" href="پشتیبانی.html" alt="Purchase JANGO">گزارش خطا به پشتیبانی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/FEATURES/FEATURES-16-2 -->
 
     
    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
   {%endblock%}