{% extends "main/base.html" %}
{% load static %}

{%block main2%}
                    <!-- Begin: Title 1 component -->
                    <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr>  <hr >
                    
                  

                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-center c-font-bold"> ویراستاری تخصصی،علمی-محتوایی</h3>
                                <div class="c-line-center c-theme-bg"></div>
                                <p class="c-font-center">

                                    صرف اینکه مترجمی به ترجمه‌ی انگلیسی به فارسی مسلط باشد، تخصص او در ترجمه فارسی به انگلیسی را تضمین نمی‌کند. در واقع مترجمی که در این زمینه مسلط باشد دارای شرایط متفاوتی است. گذشته از این حتی مترجمی که تخصص کافی در این نوع از ترجمه را دارد، دارا بودن تجربه و علم کافی در زمینه‌‌ی ترجمه‌ی مقالات ISI تخصص جدایی را برای سپردن ترجمه فارسی به انگلیسی مقالات ISI به او می‌طلبد.
                                    مجلاتISI
                                    
                                    با توجه به این مهم، بسیاری از اساتید و دانشجویان علی رغم اینکه به ترجمه تخصصی متون مسلط می‌باشند، ترجمه مقاله خود برای چاپ در ژورنال برون سپاری می‌کنند.
                                    
                                    سایت ترجمه تخصصی ترجمیک با به کارگیری مترجمینی که تجربه کافی در زمینه تهیه مقالات ISI و تسلط کافی در ترجمه تخصصی فارسی به انگلیسی مقاله ISI دارند، آماده ارائه خدمات به شما عزیزان است.
                                    
                                    با توجه به اینکه کیفیت متون ترجمه شده دائما توسط تیم ارزیاب مورد ارزیابی قرار می‌گیرد، کیفیت ترجمه تضمین شده خواهد بود. اما برای اطمینان خاطر مشتریان، خدمات پشتیبانی و ضمانت ویرایش، بازنگری و جرح و تعدیل‌های لازم تا زمان اعلام نظر داوران مراجع علمی برقرار خواهد بود. (ترجمه مقالات ISI تا زمان اعلام نظر داوران مجلات تخصصی شامل گارانتی خواهد بود).
                                    
       </p>  <hr>


                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold"> ویرایش تخصصی انگلیسی</h3>
                        <div class="c-line-center c-theme-bg"></div>
                        <p class="c-font-center">

                         

ویرایش انگلیسی مقالات، یک فرآیند نسبتا پیچیده و تخصصی است که می‌تواند شامل اصلاح نکات نگارشی، ویرایش، گرامر، واژگان عمومی، واژگان تخصصی و ... باشد. آمارها نشان می‌دهد بسیاری از مقالات تنها به دلیل رعایت نکردن نکات ویرایش انگلیسی از سوی سردبیر مجله علمی رد شده و منجر به صرف زمان و هزینه بیشتری خواهد بود. بر همین اساس، محققان با تجربه حتی اگر از سطح خوبی در زمینه زبان انگلیسی برخوردار باشند، از یک ویراستار می‌خواهند تا ویرایش انگلیسی متن آن‌ها را برعهده بگیرد و نکات مغفول را به آن‌ها یادآوری کند.

فرآیند استاندارد گزینش، آموزش و ارزیابی مداوم ویراستاران در ترجمیک، با هدف ارتقای روز به روز کیفیت کاری این ویراستاران انجام می‌شود. هم‌اکنون به طور قاطع می‌توان گفت ویرایش مقالات انگلیسی در ترجمیک، ضامن پذیرش مقالات در مجلات معتبر است (البته به طور قطع، محتوای علمی مقاله نیز می‌بایست شرایط لازم را داشته باشد).

خدمات ویرایش تخصصی و ترجمه تخصصی در ترجمیک، در سطوح طلایی و طلایی+بازخوانی، به همراه گواهی تاییدیه یا Certification Letter به زبان فارسی و انگلیسی ارائه می‌شود. علاوه بر تحویل نسخه کاغذی، این گواهینامه قابلیت استعلام آنلاین داشته و بنابراین شما به سادگی قادر خواهید بود نامه تاییدیه یرایش انگلیسی را به ژورنال مد نظر خود ارائه نمایید.

خدمات ویرایش تخصصی در ترجمیک، به طور کلی مطابق توضیحات زیر تقسیم‌بندی شده است که مشتریان محترم می‌توانند با مطالعه این توضیحات، نوع سفارش را انتخاب کرده و بهترین کیفیت را بر این اساس دریافت نمایند:
ویرایش انگلیسی تخصصی

قبل از آنکه به مساله اهمیت ویرایش متن انگلیسی بپردازیم، تعریفی از مفهوم ویرایش و ویراستاری ارائه خواهیم کرد. ویرایش یا ویراستاری عبارت است از پیراستن نوشته از نارسایی‌ها و خطاهای علمی یا زبانی، و تنظیم مباحث آن برحسب مبانی منطقی و اصلاح خطاهای واژگانی و دستوری بر اساس معیارهای زبان در تشخیص درست از نادرست، به‌طوری‌ که نوشته پس از ویرایش هیچ‌گونه خطای علمی یا زبانی و هیچ‌گونه بی‌نظمی و آشفتگی و نارسایی نداشته باشد و هیچ نکته‌ای که خلاف معیارهای پذیرفته‌شده آن زبان است،در آن مشاهده نشود.
ژورنال ها

اگر چه این تعریف از ویراستاری و ویرایش را می‌توان به دو دلیل ناکامل دانست. اول اینکه به هدف نهایی ویرایش از جانب مخاطب آن و مورد کاربردی آن اشاره نکرده است و دوم آنکه صرفا ویرایش و ویراستاری را محدود به محتوای متنی کرده است اما در واقع ویرایش شامل حال محصولات نوشتاری، دیداری، تصویری، شنیداری، و رسانه‌ای نیز می‌گردد. دقت کنید هدف نهایی ویراستاری ایجاد محتوایی ساده، روان، قابل‌درک و پذیرفتنی‌ برای مخاطب است. در تعریفی کاربردی از ویرایش و ویراستاری می‌توان آن را فرآیندی در راستای انتشار و چاپ معرفی کرد.

این مساله اهمیت کاربردی مساله ویراستاری را از جنبه‌های مختلف نمایان می‌نماید. اما آنچه که ما اینجا در مورد آن صحبت می‌کنیم، ویرایش متن است و به طور خاص‌تر ویرایش انگلیسی متون مورد توجه است. همانطور که ذکر شد، این فرآیند در راستای انتشار و چاپ صورت می‌گیرد. بسیاری از کتاب‌ها، مقالاتی که در ژورنال‌ها و مجلات معتبر منتشر می‌شوند، محتواهای متنی در که در رسانه‌ها منتشر می‌گردد، نامه‌ها و دستورالعمل‌ها، خبرها و بسیاری موارد دیگر قبل از انتشار یا چاپ نیاز به ویرایش تخصصی دارند.

با توجه به محل انتشار تولیدات علمی دانشگاهی و جامعه‌ای علمی که این آثار را بررسی و مطالعه ی‌کنند، اهمیت ویرایش این متون چندین برابر می‌گردد. طی تحقیقاتی که در یک ژورنال معتبر صورت گرفته بود، وجود خطاهای املایی در مقالاتی که برای ژورنال‌های معتبر ارسال می‌گردد، احتمال رد شدن مقاله را صرف نظر محتوای علمی آن تا برابر افزایش خواهد داد. این مساله اهمیت ویرایش تولیدات علمی قبل از انتشار آن‌ها در قالب کتاب، مقاله، گزارش فنی، پتنت و ... را دو چندان می‌کند.
                           </p>
                            <hr>
                         
                            </div>
                        
                    </div>
                    <!-- End-->
                  
        </div><!-- END: CONTENT/MISC/SERVICES-1 -->
        <!-- BEGIN: CONTENT/FEATURES/FEATURES-16-2 -->
        <div id="feature-16-2" class="c-content-feature-16 c-bg-img-center" style="background-image: url(../../assets/base/img/content/shop4/104.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="c-feature-16-container c-bg-dark c-bg-opacity-4">
                            <div class="c-feature-16-line c-theme-bg"></div>
                            <h2 class="c-feature-16-title c-font-bold c-font-uppercase c-font-white"> گارانتی و ضمانت خدمات</h2>
                            <p class="c-feature-16-desc c-font-grey">
                                
                                ترجمه سطوح تخصصی در هر زمینه علمی توسط مترجمی با تخصص علمی مرتبط با همان زمینه انجام گیرد که احتمال اشتباه مترجم را به شدت کاهش می‌دهد. روی تمام سفارشات گارانتی کیفیت و زمان تحویل وجود دارد. بر روی سفارشات طلایی و طلایی بازخوانی تا اعلام نظر داور گارانتی کیفیت وجود دارد و در صورت تاخیر مطابق قوانین ترجمیک هزینه برگشت خواهد شد.


                            </p>
                            
                            <a class="c-feature-15-btn btn c-btn btn-lg c-theme-btn c-font-uppercase c-font-bold c-btn-square" href="پشتیبانی.html" alt="Purchase JANGO"> پشتیبانی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/FEATURES/FEATURES-16-2 -->
 
     
    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
{%endblock%}  